{{#description}}
    /// {{description}}
{{/description}}
    public class {{classname}}
    {
{{#isString}}
{{#allowableValues}}{{#enumVars}}
        {{#enumDescription}}/** {{enumDescription}} */{{/enumDescription}}
        public const {{{dataType}}} {{{name}}} = "{{{value}}}";
{{/enumVars}}{{/allowableValues}}
{{/isString}}
{{^isString}}
{{#allowableValues}}{{#enumVars}}
        {{#enumDescription}}/** {{enumDescription}} */{{/enumDescription}}
        public const {{{dataType}}} {{{name}}} = {{{value}}};
{{/enumVars}}{{/allowableValues}}
{{/isString}}
    }